body {
  background-image: url(img/kirby.jpg);
  color: burlywood;
  font size: 25px; 
}
h1{
color:greenyellow;

}
.main-header{
  color: white;
}

.main-header{
  margin-top: 25px;
}
.main-header{
  text-align: center;
}