body {
  background-image: url(img/kirby.jpg);
  color:black;
  font size: 25px; 
  font-family: "Oxygen", sans-serif;
}

.Title {
  text-align: center;
  margin-top: 5px;
  color: antiquewhite;
  font-size: 40px;
}

.stone-kirby{
  border: 10px solid antiquewhite;
  height: 800px;
  width: 640px;
}

.stone-kirby img{
  width: 90%;
  ;
}