body {
  font-family: "Oxygen", sans-serif;
  background-image: url(img/kirbo1.jpg);
}

.Title {
  text-align: center;
  margin-top: 5px;
  color: antiquewhite;
  font-size: 40px;
}

.stone-kirby {
  border: 5px solid beige;
  height: 500px;
  width: 500px;
  text-align: left;
  background-image: url(img/stone.jpg);
  position: absolute;
}
